.contact{
    font-family: 
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5%;

    &__intro{
        max-width: 400px;
        padding-right: 5%;
        padding-bottom: 5%;

        &__title{
        max-width: 100%;
        font-size: 40px;
        line-height: 1.5;
        }

        &__text{
        line-height: 1.5;
        display: flex;
        flex-direction: column;
        gap: 20px;
        }
    }

    &__form{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        min-width: 500px;
        padding-bottom: 5%;

        &__input{
            border:none;
            padding-bottom: 15px;
            margin-bottom: 50px;
            border-bottom: solid 1px #bababa;
        }

        
        &__input:focus{
            outline: none;
            border: none;
            border-color: #ffffff;
            border-bottom: solid 1px #bababa;
            color: $genesis-purple-color;
        }

        &__button{
            background-color: $genesis-purple-color;
            color: #ffffff;
            max-width: 150px;
            padding: 20px;
            border: none;
            transition: 0.5s;
        }
        
        &__button:hover{
            background-color: #0008f6;
        }
    }

}

.map{
    width: 100%;;
}