h4{
    font-size: 22px;
    font-weight: bold;
}

h5{
    font-size: 18px;
    font-weight: bold;
}

h6{
    font-size: 16px;
    font-weight: 300;
}

p{
    font-size: 16px;
    font-weight: 300;
    color: rgb(79, 79, 79);
    line-height: 1.5;
}

a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: 0.5s;
}

a:hover{
    color: #4A4FF2;
    
}