header{
    margin: auto;
    padding: 5% 10% 2% 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



.logo{
    max-width: 200px;
    height: auto;
    object-fit: contain;
    
}

ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
}


footer{
    margin: auto;
    padding: 5% 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: baseline;
}

.footer-nav{
    display: flex;
    flex-direction: row;
    gap: 100pxs;
}

.icons{
    display: flex;
    flex-direction: row;
    gap: 20px;

}

.icon{
    object-fit: contain;
    max-width: 20px;
}