.hello-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content:space-between;
    padding-bottom: 7%;
    width: 100%;

    &__container{
        max-width: 60%;
        flex-direction: column;
    }

    &__title{
        font-size: 40px;
        line-height: 1.5;
    }

    &__progress{
        align-self: flex-end;
    }

}

.purple, .shooting-stars{
    color: #4A4FF2;
}