.service-section{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 10%; 
    padding-bottom: 10%;
    border-bottom: 1px solid#8c8c8c;
}

.service-section_title{
    max-width: 50%;
}

li{
    list-style: none;
}

.awards-section{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.awards{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-auto-rows: auto;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 5%;
    border-bottom: 1px solid#8c8c8c;

}

.award{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20%;
}


.awards-title{
    min-width: 40%;
    align-content: flex-start;
}

.awards-genesis{
    max-width: 20%;
}