body{
    width: 100%;
    margin: auto;
}

main{
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

@import 'gallery';
@import 'fonts';
@import 'service-awards';
@import 'hello';