body {
  width: 100%;
  margin: auto;
  font-family: "Mulish", serif;
}

main {
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.hello-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  padding-bottom: 7%;
  width: 100%;
}
.hello-section__container {
  max-width: 60%;
  flex-direction: column;
}
.hello-section__title {
  font-size: 40px;
  line-height: 1.5;
}
.hello-section__progress {
  align-self: flex-end;
  border-top: solid 1px;
  font-style: italic;
}

.purple, .shooting-stars {
  color: #4A4FF2;
}

.service-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 10%;
  padding-bottom: 10%;
  border-bottom: 1px solid #8c8c8c;
}
.service-section__title {
  max-width: 50%;
  font-size: 28px;
}
.service-section__ul {
  display: flex;
  flex-direction: column;
}
.service-section__li {
  list-style: none;
  font-size: 18 px;
  padding-bottom: 15px;
  color: #8c8c8c;
}

.awards-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.awards-section__awards {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-auto-rows: auto;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 5%;
  border-bottom: 1px solid #8c8c8c;
}
.awards-section__award {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20%;
}
.awards-section__example {
  max-width: 20%;
}
.gallery-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(33, 1fr);
  grid-auto-rows: auto;
  width: 100%;
  max-height: 2000px;
  grid-gap: 20px;
}
.gallery-section__element {
  width: 100%;
  height: 100%;
  background-color: aqua;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.one {
  grid-column: 1/2;
  grid-row: 1/8;
}

.two {
  grid-column: 2/3;
  grid-row: 1/7;
}

.three {
  grid-column: 3/4;
  grid-row: 1/11;
}

.four {
  grid-column: 1/2;
  grid-row: 8/16;
}

.five {
  grid-column: 2/3;
  grid-row: 7/14;
}

.six {
  grid-column: 3/4;
  grid-row: 11/18;
}

.seven {
  grid-column: 1/2;
  grid-row: 16/23;
}

.eight {
  grid-column: 2/3;
  grid-row: 14/22;
}

.nine {
  grid-column: 3/4;
  grid-row: 18/26;
}

.ten {
  grid-column: 1/2;
  grid-row: 23/33;
}

.eleven {
  grid-column: 2/3;
  grid-row: 22/33;
}

.twelve {
  grid-column: 3/4;
  grid-row: 26/33;
}

h4 {
  font-size: 22px;
  font-weight: bold;
}

h5 {
  font-size: 18px;
  font-weight: bold;
}

h6 {
  font-size: 16px;
  font-weight: 300;
}

p {
  font-size: 16px;
  font-weight: 300;
  color: rgb(79, 79, 79);
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  transition: 0.5s;
}

a:hover {
  color: #4A4FF2;
}

header {
  margin: auto;
  padding: 5% 10% 2% 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
header__logo {
  max-width: 150px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.nav__list {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.nav__item {
  list-style: none;
  text-decoration: none;
}

footer {
  margin: auto;
  padding: 5% 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.footer-nav__list {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.footer-nav__item {
  list-style: none;
}
.footer-nav__logo {
  max-width: 150px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer-nav__icons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.footer-nav__icon {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 20px;
}

.project {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 5%;
}
.project__intro {
  max-width: 700px;
  padding-right: 5%;
  padding-bottom: 5%;
}
.project__intro__title {
  max-width: 70%;
  font-size: 40px;
  line-height: 1.5;
}
.project__intro__text {
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.project__list__container {
  display: flex;
  flex-direction: column;
  min-width: 40%;
  padding-bottom: 5%;
}
.project__list__item {
  display: flex;
  flex-direction: row;
  padding-bottom: 7px;
  border-bottom: solid 1px #a0a0a0;
  min-width: 350px;
  justify-content: space-between;
}
.project__list__item__first {
  color: #808080;
}
.project__list__item__second {
  font-weight: 500;
  padding-left: 50px;
}

.images-section__big-image {
  max-width: 100%;
  max-height: 100%;
}
.images-section__text {
  padding-bottom: 5%;
  padding-top: 3%;
}
.images-section__images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5%;
}
.images-section__small-image {
  width: 30%;
}

.contact {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 5%;
}
.contact__intro {
  max-width: 400px;
  padding-right: 5%;
  padding-bottom: 5%;
}
.contact__intro__title {
  max-width: 100%;
  font-size: 40px;
  line-height: 1.5;
}
.contact__intro__text {
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact__form {
  display: flex;
  flex-direction: column;
  min-width: 40%;
  padding-bottom: 5%;
}

.map {
  width: 100%;
}/*# sourceMappingURL=style.css.map */