body{
    width: 100%;
    margin: auto;
    font-family: "Mulish", serif;
}

main{
    padding: 10%;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

$genesis-purple-color:#4A4FF2;

@import 'index';
@import 'gallery';
@import 'fonts';
@import 'header-footer';
@import 'project-details';
@import 'contact'